/* ============================ DropsCount CSS ============================ */
@import url('http://fonts.googleapis.com/css?family=Great+Vibes|Norican|Open+Sans:400,700');
/* ============================ START CSS RESET AND OPTIONS ============================ */
* {
    margin:0px;
    padding:0px;
    border:0px;
    vertical-align:top;
    text-decoration:none;
    outline:none;
}
.clear {
    clear:both;
}
body {
    background:#373535;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:1.5em;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    color: #fff;
    text-shadow:1px 1px 0px #1d1919;
    font-weight:400;
    margin-bottom: 60px;
    text-align:center;
    line-height: 1.4em;
}
h1 a {
	font-family: 'Great Vibes', cursive;
    font-size: 45px;
    color: #fff;
    text-shadow:1px 1px 0px #1d1919;
    font-weight:400;
    text-align:center;
    line-height: 1.4em;
}
h3 {
    text-transform:uppercase;
    margin-bottom:10px;
    font-size:14px;
    color:#fff;
    text-shadow: 1px 1px 0px #1d1919;
}
p {
    margin-bottom:10px;
    font-size:13px;
    color:#7c7777;
    text-shadow: 1px 1px 0px #1d1919;
}
.separate {
    margin-bottom:120px;
}
.working {
    background:url(../images/working_bg.png) no-repeat;
    width:168px;
    height:130px;
    margin:-30px auto 60px;
}
.container .sidebar {
    float:left;
    margin-right:80px;
    width:250px;
    padding-top:50px;
}
.container .sidebar .arrow {
    background: url(../images/arrow.png) no-repeat;
    width: 88px;
    height: 73px;
    position: absolute;
    margin-left: 260px;
    margin-top: -75px;
}
#site_change {
    position:absolute;
    background:#2a2727;
    padding:40px;
    margin-top:300px;
    width:70px;
}
#site_change #site_open {
    position:absolute;
    cursor:pointer;
    background:url(../images/opener.png);
    width:33px;
    height:33px;
    margin-left: 109px;
    margin-top: 46px;
}
#site_change a {
    float:left;
    margin:10px;
}
.container {
    width:960px;
    margin:0px auto;
    position: inherit;
}
.container .sidebar .subscription {
    color: #7c7777;
    margin-bottom:70px;
    font-size:13px;
}
.container .sidebar .subscription .subscription_form {
    margin-top:10px;
    margin-bottom:10px;
    color:#ffd9ca;
    text-shadow:1px 1px 0px #7d3030;
}
.container .sidebar .subscription .border {
    background: #242121;
    float:left;
    padding:4px;
    border-radius:5px;
    margin-right:10px;
}
.container .sidebar .subscription .border .subscription_line {
    background:#fff;
    padding:6px 8px;
    width:150px;
    border-radius:3px;
}
.container .sidebar .subscription .subscription_button {
    padding: 10px 8px;
    color: #fff;
    background: #2c2929;
    text-shadow:1px 1px 0px #333;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}
.container .sidebar .twitt {
    position:absolute;
    width:210px;
    background: #272323;
    padding:15px;
    line-height:1.4em;
    font-size:12px;
    color: #fff;
    border:3px solid #656565;
    border-radius:6px;
}
.container .sidebar .twitt span {
    display:block;
}
.container .sidebar .twitt .arrow_twitt {
    background:url(../images/arrow_twitt.png);
    height:12px;
    width:18px;
    position:absolute;
    margin-top: 15px;
    margin-left: -3px;
}
.container .sidebar .twitt a {
    color:#4f4b4b;
}
.container .sidebar .twitt a:hover {
    text-decoration:underline;
}
.wt_twitter_post {
    display: none;
}
.wt_twitter_post_date {
    text-transform:uppercase;
    font-size:10px;
    padding-top:3px;
}
.container .sidebar .social {
    min-height:180px;
    background:url(../images/border.png) repeat-y 20px 0px;
}
.container .sidebar .social .social_icons {
    position:absolute;
    margin: 155px 0px 0px 0px;
    padding:0px;
}
.container .sidebar .social .social_icons li {
    list-style:none;
    float:left;

    margin-right:15px;
}
.container .sidebar .social .social_icons li a {
    background:url(../images/socials.png) no-repeat;
    display:block;
    width:47px;
    height:47px;
}
.container .sidebar .social .social_icons li a.twitter {
    background-position:0px -47px;
}
.container .sidebar .social .social_icons li a:hover.twitter, .container .sidebar .social .social_icons li a.twitter.active {
    background-position:0px 0px;
}
.container .sidebar .social .social_icons li a.facebook {
    background-position:-62px -47px;
}
.container .sidebar .social .social_icons li a:hover.facebook {
    background-position:-62px 0px;
}
.container .sidebar .social .social_icons li a.flikr {
    background-position:-124px -47px;
}
.container .sidebar .social .social_icons li a:hover.flikr {
    background-position:-124px -0px;
}
.container .sidebar .social .social_icons li a.google {
    background-position:-186px -47px;
}
.container .sidebar .social .social_icons li a:hover.google {
    background-position:-186px 0px;
}
.container .content {
    float:left;
    width:630px;
}
.container .content .top_line {
    background:#1d1919;
    height:28px;
}
.container .content .top_head {
    background:url(../images/top_head.jpg) no-repeat top center;
    height:150px;
}
.container .content .bottle_box {
    height:625px;
    width:470px;
    margin:0px auto;
}
.container .content .bottle_box .bottle {
    float:left;
    width:80px;
    margin-right:50px;
}
.container .content .bottle_box .bottle_last {
    float:left;
    width:80px;
    margin-right:0px;
}
.container .content .bottle_box .bottle_section {
    height:504px;
    margin-bottom:40px;
}
.container .content .bottle_box .bottle_section .drop {
    background:url(../images/drop_all.png) no-repeat;
    width:28px;
    height:40px;
    margin-left: 20px;
    position:absolute;
    z-index:1;
}
.container .content .bottle_box .bottle_section .drop_d {
    background-position: 0px 0px;
}
.container .content .bottle_box .bottle_section .drop_h {
    background-position: -130px 0px;
}
.container .content .bottle_box .bottle_section .drop_m {
    background-position: -260px 0px;
}
.container .content .bottle_box .bottle_section .drop_s {
    background-position: -390px 0px;
}
.container .content .bottle_box .bottle_counter {
    background:url(../images/count_all.png) no-repeat;
    font-size:29px;
    color:#fff;
    font-weight:bold;
    padding:28px 0px;
    text-align:center;
    line-height:1em;
    margin-bottom:110px;
}
.container .content .bottle_box .bottle_counter.bottle_d {
    background-position: 0px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_h {
    background-position: -130px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_m {
    background-position: -260px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_s {
    background-position: -390px 0px;
}
.container .content .bottle_box .bottle_section .bottle_bg {
    position:absolute;
    z-index:4;
    height:400px;
    margin-top:105px;
    width:80px;
    background:url(../images/bottle_bg.png) no-repeat;
}
.container .content .bottle_box .bottle_section .overflow {
    overflow:hidden;
    height:500px;
    position:absolute;
    width:70px;
    margin-left:5px;
    z-index:3;
}
.container .content .bottle_box .bottle_section .fill {
    z-index: 4;
    position: absolute;
    width: 70px;
    height: 400px;
    margin-top: 500px;
}
.container .content .bottle_box .bottle_section .fill.fill_d {
    background:url(../images/days_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_h {
    background:url(../images/hours_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_m {
    background:url(../images/minutes_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_s {
    background:url(../images/seconds_bg.png);
}
#footer {
    color:#fff;
    font-size:10px;
    text-shadow:1px 1px 0px #111;
    background:#1d1919;
    overflow: hidden;

}
.scroll {
    background:url(../images/scroll.png) no-repeat;
    width:115px;
    height:32px;
    position:absolute;
    margin-top:-75px;
    right:0px;
}
.wrapper{
    background:url(../images/footer_tube.png) no-repeat left bottom;
    height: 100%;
    width: 960px;
    margin: 0px auto;
}
#footer .container {
    position: relative;
	padding: 15px !important;
}
.copyright {
    padding:15px 0px;
    font-size:10px;
    text-transform:uppercase;
    color:#f1f1f1;
    text-shadow:1px 1px 0px #333;
}

#footer .google_maps {
    border:10px solid rgba(255, 255, 255, 0.20);
    border-radius:8px;
    margin-bottom:10px;
}
#footer .location {
    background:url('../images/location.png') no-repeat;
    padding-left:20px;
    color:#fff !important;
    text-shadow:1px 1px 0px #000;
}
#footer .email  {
    padding-top: 7px;
    background: url('../images/mail.png') no-repeat 0px 12px;
    padding-left: 30px;
    color: #fff !important;
    text-shadow: 1px 1px 0px #000;
}
#footer .email a {
    color:#fff;
}
#footer .telephone  {
    background:url('../images/telephone.png') no-repeat 5px 0px;
    padding-left:30px;
    color:#fff !important;
    text-shadow:1px 1px 0px #000;
}
#footer .line {
    display:block;
    width:200px;
    padding:6px 14px;
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f1f1f1;
    color:#ccc;
}
#footer .linearea {
    display:block;
    width:200px;
    height:50px;
    padding:6px 14px;
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f1f1f1;
    color:#ccc;
}
#footer .contact_form {
    margin-top:15px;
}
#footer .send {
    padding:8px 20px;
    line-height:1em;
    border-radius:6px;
    font-weight:bold;
    background:rgba(255, 255, 255, 0.2);
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}
#footer .send:hover {
    background:rgba(255, 255, 255, 0.1);
}
#footer .row {
    margin-left:-40px;
}
#footer .row .column {
    margin-left:40px;
    width:290px;
    float:left;
}
#footer .row .column h4 {
    background:url('../images/drops_head.png') no-repeat left center;
    padding-left:60px;
    font-family: 'Norican', cursive;
    font-size:27px;
    margin-bottom:15px;
    font-weight:400;
    text-shadow:1px 1px 0px #000;
    line-height:1.4em;
}
#footer .row .column p {
    margin-bottom:10px;
    color:#777;
}
/* ============================ START TITLE CSS EFFECT ============================ */
span.show-tooltip-text {
    z-index:99999;
    display:none;
    position:fixed;
    background:#272323;
    border:2px solid #656565;
    margin:0px 10px 0px 0px;
    padding:2px 12px;
    color: #fff;
    border-radius:3px;
    font: 13px/22px;
    font-weight: normal;
}
/* ============================ END TITLE CSS EFFECT ============================ */
/* ============================ START SITE MENU CSS ============================ */
#site_menu_hide {
	position:absolute;
	margin-top:200px;
	margin-left:-150px;
	z-index: 9999;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#site_menu_hide:hover {
	margin-left:0px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#site_menu_hide .site_menu {
	border:0px;
	margin:0px;
}
#site_menu_hide .site_menu li {
	list-style:none;
}
#site_menu_hide .site_menu li a {
	display:block;
	font-weight:bold;
	background:#555151;
	text-transform:uppercase;
	overflow:hidden;
	padding:5px 5px 0px 20px;
	width:160px;
	font-size:14px;
	color:#fff;
	margin-bottom:1px;
}
#site_menu_hide .site_menu li a span {
	height:20px;
	display:block;
	overflow:hidden;
	width:140px;
}
#site_menu_hide .site_menu li a .site_menu_nr {
	float:right;
	background:#fff;
	text-align:center;
	margin:-5px;
	margin-top:-25px;
	color:#1d1919;
	padding:9px 10px 8px;
	font-weight:bold;
	min-width: 1em;
	line-height:1em;
	width:15px;
}
#site_menu_hide .site_menu li:hover a, #site_menu_hide .site_menu li.active a {
	background:#fff;
	color:#555151;
}
#site_menu_hide .site_menu li:hover a .site_menu_nr, #site_menu_hide .site_menu li.active a .site_menu_nr {
	text-align:center;
	color:#fff;
	background:#1d1919;
}
#site_menu_hide .site_menu li .sub-menu {
	display:none;
	position:absolute;
	margin-left:185px;
	margin-top:-33px;
}
#site_menu_hide .site_menu li:hover .sub-menu {
	display:block;
}
#site_menu_hide .site_menu li:hover .sub-menu li a {
	color:#fff;
	background:#555151;
}
#site_menu_hide .site_menu li:hover .sub-menu li a .site_menu_nr {
	background:#fff;
	color:#1d1919;
}
#site_menu_hide .site_menu li:hover .sub-menu li:hover a .site_menu_nr {
	color:#fff;
	background:#1d1919;
}	
#site_menu_hide .site_menu li:hover .sub-menu li a:hover {
	background:#fff;
	color:#555151;
}
/* ============================ END SITE MENU CSS ============================ */


/* ============================ START ABOUT CSS ============================ */
.content{
    min-height: 630px;
}
.content .content_image {
	width:100%;
	margin-top:60px;
	overflow:hidden;
}
.content .content_image img {
	width:100%;
	height:auto;
}
.content .content_border {
	padding-bottom:5px;
	background:url(../images/border_bottom.png) repeat-x bottom left;
	margin-bottom:40px;
}
.content .testimonial {
	padding:20px;
	padding-left:60px;
	background:url(../images/testimonial.png) no-repeat 20px 28px;
}
.content .testimonial p {
	margin-bottom:0px;
	color:#fff;
}
.content h3 {
	margin-bottom:50px;
	color:#777371;
	text-align:center;
	font-size:24px;
}
.content .column {
	float:left;
	width:190px;
	margin-right:30px;
}
.content .column.last {
	float:left;
	width:190px;
	margin-right:0px;
}
.content .column .column_image img, .content .column.last .column_image img {
	width:190px;
	height:auto;
	overflow:hidden;
	border-radius:300px;
}
.content .column p {
	margin-bottom:40px;
	color:#7d7d7d;
	text-shadow:none;
}
.content h5 {
	text-align:center;
	color:#fff;
	font-weight:400;
	margin-bottom:10px;
	margin-top:15px;
	font-size:14px;
	text-transform:uppercase;
}
.content h6 {
	margin-bottom:15px;
	padding-bottom:5px;
	font-size:14px;
	text-transform:uppercase;
	border-bottom:1px solid #555353;
}
.content h6.color_1 {
	color:#e67f46;
	background:url(../images/color_1.png) no-repeat right 6px;
}
.content h6.color_2 {
	color:#30bcb7;
	background:url(../images/color_2.png) no-repeat right 6px;
}
.content h6.color_3 {
	color:#dbd15f;
	background:url(../images/color_3.png) no-repeat right 6px;
}
/* ============================ END ABOUT CSS ============================ */
/* ============================ START RESPONSIVE ============================ */

.acolad {
    background:url(../images/acolad.png) no-repeat left center;
    padding-left:30px;
    min-height:68px;
}
/* NEW NEW NEW */

#footer .scroll {
    background:url(../images/scroll.png) no-repeat;
    width:115px;
    height:32px;
    position:absolute;
    margin-top:-110px;
}
.tabs_select {
    background: rgba(255, 255, 255, 0.15);
}
.tabs_select ul li {
    float:left;
    list-style:none;
    font-size:14px;
    font-weight:bold;
    line-height:1em;
    display:block;
    text-transform:uppercase;
    padding:10px 15px;
    margin:0px 10px;
}
.tabs_select ul li.contact_tab:hover, .tabs_select ul li.news_tab:hover, .tabs_select ul li.news_tab.active, .tabs_select ul li.contact_tab.active {
    opacity:1;
}
.tabs_select ul li.contact_tab {
    background:url(../images/contact_icon.png) no-repeat left 10px;
    padding-left:26px;
    opacity:0.4;
    cursor:pointer;
}
.tabs_select ul li.news_tab {
    background:url(../images/news_icon.png) no-repeat left 10px;
    padding-left:26px;
    opacity:0.4;
    cursor:pointer;
}
.tabs_select ul.center_align {
    margin:0px auto;
    width:250px;
}
.tab_contact {
    display:none;
}
.tab_news {
    display:block;
}
#footer h4 {
    background:url(../images/drops_head.png) no-repeat left center;
    padding-left:60px;
    font-family: 'Norican', cursive;
    font-size:27px;
    margin-bottom:15px;
    font-weight:400;
    text-shadow:1px 1px 0px #000;
    line-height:1.4em;
}
#footer .sidebar_left {
    float:left;
    width:300px;
    margin-right:60px;
}
#footer .content_right {
    float:left;
    width:600px;
}
#footer .content_right .news_content {
    background: rgba(255, 255, 255, 0.1);
    padding:30px;
    border-radius:6px;
    border-left:10px solid rgba(255, 255, 255, 0.3);
    display: none;
}
#footer .content_right .news_content.active{
    display: block;
}
#footer h5 {
    font-size:15px;
    text-transform:uppercase;
    color:#fff;
    font-weight:400;
}
#footer .time {
    display:block;
    margin-bottom:15px;
    color:#fff;
    font-size:12px;
}
#footer .content_right .news_content .news_content_img {
    float:left;
    margin-right:30px;
    border:1px solid rgba(255, 255, 255, 0.3);
}
#footer p {
    text-shadow:none;
}


#footer .news_tabs h5 {
    display:block;
    overflow:hidden;
    height:20px;
}
#footer .news_tabs p {
    height:40px;
    overflow:hidden;
}

#footer .news_tabs {
    margin-bottom:20px;
    padding-left:90px;
    cursor: pointer;
}
#footer .news_tabs .time {
    margin-bottom:3px !important;
}
#footer .news_tabs .news_img {
    margin-left:-90px;
    position:absolute;
    border-radius:100px;
    overflow:hidden;
    width:60px;
    height:60px;
    border:6px solid rgba(255, 255, 255, 0.15);
}
#footer .news_tabs .news_img img {
	width:60px;
	height:60px;
	border-radius: 100px;
}
/* ============================ START CONTACT CSS ============================ */
.content h3.contact_1 {
	margin-top:10px;
	background:url(../images/contact_1.png) no-repeat left 2px;
	margin-bottom:20px;
	padding-left:50px;
	color:#44c76f;
	text-transform:none;
	font-weight:300;
	font-size:24px;
	font-family: 'Norican', cursive;
	text-align: left;
}
.content h3.contact_2 {
	margin-top:10px;
	background:url(../images/contact_2.png) no-repeat left 2px;
	margin-bottom:20px;
	padding-left:50px;
	color:#30bcb7;
	text-transform:none;
	font-weight:300;
	font-size:24px;
	font-family: 'Norican', cursive;
	text-align: left;
}
.content h3.contact_3 {
	margin-top:10px;
	background:url(../images/contact_3.png) no-repeat left 2px;
	margin-bottom:20px;
	padding-left:50px;
	color:#dbd15f;
	text-transform:none;
	font-weight:300;
	font-size:24px;
	font-family: 'Norican', cursive;
	text-align: left;
}
.google_maps {
	border:12px solid #434141;
	border-radius:8px;
	margin-bottom:40px;
}

.content .column_3 {
	width:350px;
	float:left;
}
.content .column_2 {
	width:250px;
	float:left;
}
.content .contact_line {
	padding:8px 15px;
	width:280px;
	margin-bottom:5px;
	color:#666;
}
.content .contact_area {
	padding:8px 15px;
	height:60px;
	resize:none;
	width:280px;
	margin-bottom:5px;
	color:#666;
}
.content .contact_button,#submit {
	display:block;
	background:#2c2929;
	border-radius:5px;
	padding:13px 25px;
	line-height:1em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:14px;
	margin-top:10px;
	cursor:pointer;
}
.content .contact_button:hover,#submit:hover {
	background:#222;
}
.content .contact_info {
	background:url(../images/acolad.png) no-repeat;
	min-height:50px;
	padding:8px 0px 15px 35px;
}
.content .contact_info .contact_mail {
	background:url(../images/mail.png) no-repeat;
	padding-left:30px;
	line-height:1em;
	color:#fff;
	min-height:20px;
}
.content .contact_info .contact_mail a {
	color:#fff;
}
.content .contact_info .contact_mail a:hover {
	text-decoration:underline;
}
.content .contact_info .contact_phone {
	background:url(../images/telephone.png) no-repeat 4px 0px;
	padding-left:30px;
	line-height:1em;
	min-height:20px;
	color:#fff;
	padding-top:3px;
}


/* ============================ END CONTACT CSS ============================ */

/* ============================ START BLOG CSS ============================ */
.blog {
	padding-top:60px;
}
.blog .blog_pages {
	text-align:right;
	font-weight:bold;
	margin-bottom:50px;
	color:#fff;
	font-size:12px;
}
.blog .blog_pages a {
	padding:1px 3px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
.blog .blog_pages a:hover {
	color:#999;
}
.blog .blog_post {
	margin-bottom:60px;
}
.blog .blog_post .blog_post_info {
	margin-bottom:30px;
}
.blog .blog_post .blog_post_info .post_date {
	display:block;
	float:left;
	background:#555353;
	text-align:center;
	color:#373535;
	font-family: 'Open Sans', sans-serif;
	padding:5px;
	font-size:22px;
	font-weight:bold;
	width:40px;
	height:40px;
	line-height:1em;
}
.blog .blog_post .blog_post_info .post_date span {
	text-align:center;
	display:block;
	line-height:1em;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	padding-top:2px;
}
.blog .blog_post .blog_post_info .post_comm {
	background: #737272 url(../images/comments.png) no-repeat 14px 5px;
	padding: 30px 10px 5px 10px;
	display: block;
	float: left;
	font-size:13px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	width:30px;
	text-align:center;
	line-height:1em;
	height:15px;
}
.blog .blog_post .blog_post_info .post_title {
	margin-left:10px;
	display:block;
	width:520px;
	float:left;
}
.blog .blog_post .blog_post_info .post_title span {
	border-bottom:1px dashed #555353;
	display:block;
	color:#555353;
	text-transform:uppercase;
	padding-bottom:5px;
	font-weight:bold;
	font-size:13px;
	padding-top:3px;
	line-height:1em;
}
.blog .blog_post .blog_post_info .post_title span a{
	color:#555353;
	padding-bottom:5px;
	font-size:13px;
	padding-top:3px;
	line-height:1em;
	text-transform:none;
}
.blog .blog_post .blog_post_info .post_title h2 {
	padding-top:10px;
	height:16px;
	overflow:hidden;
}
.blog .blog_post .blog_post_info .post_title h2 a {
	font-size:16px;
	text-transform:uppercase;
	line-height:1em;
	color:#fff;
}
.blog .blog_post .blog_post_image {
	width:100%;
	height:180px;
	overflow:hidden;
	margin-bottom:15px;
	position:relative;
}
.blog .blog_post .blog_post_image img {
	width:100%;
	min-height:180px;
}
.blog .blog_post .blog_post_image .post_image_read {
	background: rgba(255, 255, 255, 0.3);
	display:none;
	padding:78px 100px;
	border-radius:300px;
	position:absolute;
	margin:auto 0 auto 545px;
	text-transform:uppercase;
	color:#fff;
	text-shadow:1px 1px 0px #888;
	font-weight:bold;
	line-height:1em;
	font-size:12px;
}
.blog .blog_post .blog_post_image:hover .post_image_read {
	display:block;
}
.blog .blog_post .blog_post_image .post_image_read span {
	margin-left:-70px;
	display:block;
}
.blog .blog_post p {
	color:#7d7d7d;
	text-shadow:none;
}

/* SIDEBAR MODIFICATIONS */
.sidebar .sidebar_title {
	margin-top:50px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	border-bottom:1px solid #555353;
	padding-bottom:10px;
}
.sidebar .sidebar_list li {
	list-style:none;
	border-bottom:1px solid #555353;
	color:#fff;
}
.sidebar .sidebar_list li:hover {
	background:none;
	padding-left:0px;
}
.sidebar .sidebar_list li a {
	display:block;
	color:#fff;
	line-height:1em;
	padding-bottom:10px;
	padding-top:10px;
}
.sidebar .sidebar_list li a:hover {
	background:url(../images/arrow_list.png) no-repeat left center;
	padding-left:20px;
}

.sidebar .search_bar {
	margin-bottom:30px;
}

.sidebar .search_bar .search_bar_line {
	background:#fff;
	padding:9px 5px;
	height:16px;
	color:#444;
	width:206px;
	line-height:1em;
	font-style:italic;
}

.sidebar .search_bar .search_bar_button {
	background:url(../images/search_button.png) no-repeat;
	height:34px;
	margin-left:-6px;
	width:34px;
}
.sidebar_color_1 {
	background:url(../images/drops_sidebar1.png) no-repeat right 1px;
	color:#30bcb7 !important;
}
.sidebar_color_2 {
	background:url(../images/drops_sidebar.png) no-repeat right 1px;
	color:#e67f46 !important;
}
/* COMMENTS FORM */
.comment_form {
	margin-top:60px;
	border-top:1px dashed #555353;
	border-bottom:1px dashed #555353;
	padding-bottom:10px;
}
.comment_form .comment_form_title {
	color:#e67f46;
	background:url(../images/replay.png) no-repeat left center;
	padding:10px 34px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:15px;
	margin-top:15px;
}
.comments_area #commentform input[type='text'], .comments_area #commentform textarea{
	width: 90%;
}
#commentform .line1 {
	padding:8px 10px;
	width:290px;
	margin-bottom:10px;
}
#commentform .line1.mr {
	margin-right:6px;
}
#commentform .line2 {
	width:610px;
	margin-bottom:10px;
	padding:8px 10px;
}
#commentform .line2.area {
	resize:none;
	height:100px;
}
#submit {
	margin-bottom:15px;
}

.comments_area {
	margin:30px 0px;
}
.comments_area .comment {
	padding:10px 0 10px 10px;
	margin-bottom:30px;
	border-radius:6px;
	margin-left:100px;
}
.comments_area .comment .comment_image {
	position:absolute;
	margin-left:-110px;
	margin-top:-12px;
}
.comments_area .comment .comment_image img {
	width:70px;
	height:70px;
	border:8px solid #4d4c4c;
	border-radius:100px;
}
.comments_area .comment .comment_title .comment_date {
	color:#30bcb7;
	text-transform:uppercase;
	margin-left:10px;
	font-weight:bold;
	font-size:12px;
}
.comments_area .comment .comment_title {
	font-size: 12px;
	background:url(../images/author.png) no-repeat left 5px;
	padding-left:17px;
	font-weight:bold;
	color: #fff;
	margin-bottom:5px;
}
.comments_area .comment .even,
.comments_area .comment .alt {
	margin-top:20px;
}
.comments_area .comment .comment_title a {
	float:right;
	background:#e67f46;
	padding:6px 6px 4px;
	line-height:1em;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	margin-top:-10px;
	margin-right:10px;
	border-bottom:1px solid #e67f46;
}
.comments_area .comment p {
	margin-bottom:50px;
	line-height:1.4em;
}
.comments_area .comment .comment_title a:hover {
	background:#151515;
	border-bottom:1px solid #e67f46;
}
.comments_area .comment.reply {
	margin-left:130px;
}
#about_content{
    margin-top: 60px;
}
#contact_content{
    margin-top: 60px;
}
#about_container .scroll{
    right: -150px;
}
.blog .blog_post_tags li {
	margin-right:6px;
	float:left;
	list-style:none;
}
.blog .blog_post_tags {
	font-size: 12px;
	color: #fff;
	margin-top:30px;
}
.blog .blog_post_tags li a {
	background: rgba(0, 0, 0, 0.15);
	line-height: 1em;
	display: block;
	padding: 4px 6px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
}
.archive{
	min-height: 1020px;
}


/* SIDEBAR */
.sidebar .widgettitle {
	background:url(../images/contact_1.png) no-repeat right 1px;
	font-size:16px;
	color:#44c76f;
	margin-bottom:5px;
	margin-top:30px;
	padding-bottom:5px;
	border-bottom: 1px solid #555353;
}
.sidebar img {
	max-width:100%;
	height:auto;
	margin-bottom:5px;
}
.sidebar ul {
	margin:0px 0px 20px 0px;
	padding:0px;
}
.sidebar ul li {
	list-style:none;
	padding-bottom:5px;
	font-size:13px;
	margin-bottom:5px;
	color:#f1f1f1;
}
.sidebar > ul > li:hover {
	padding-left:20px;
	background:url(../images/arrow_list.png) no-repeat left 8px;
}
.sidebar ul li ul,
.sidebar ul li ul li ul {
	margin-bottom:0px;
}
.sidebar ul li ul li,
.sidebar ul li ul li ul li {
	margin-left:15px;
}
.sidebar > ul > li{
	border-bottom:1px solid #555353;
}
.sidebar ul li a {
	color:#fff;
	font-size:13px;
}
.sidebar ul li a:hover {
	color:#999;
}
.sidebar select {
	width:100%;
	padding:3px;
}
.sidebar .tagcloud {
	margin-bottom:20px;
}
.sidebar .tagcloud a {
	background: rgba(0, 0, 0, 0.15);
	line-height: 2.2em;
	padding: 4px 6px;
	border-radius: 3px;
	font-size: 12px !important;
	color: #fff;
}
.sidebar a.rsswidget {
	color:#fff;
}
.sidebar {
	padding-bottom:50px;
}
.sidebar .social_icons li {
	border-bottom:none;
}
.sidebar .social_icons li:hover {
	background:none;
	padding-left:0px;
}
.navigation a {
	color:#fff;
	margin:2px 5px;
}
#wp-calendar caption {
	color:#fff;
	text-align:center !important;
	font-weight:bold;
}
#reply-title a {
	color:#f1f1f1;
	font-size:14px;
}
#contact_form_result {
	font-size:12px;
	color:#44c76f;
	clear:both;
	line-height:1em;
	margin-bottom:90px;
	height:15px;
}



/* START CALENDAR WIGET */
.widget_calendar {
	float: left;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	text-align: left !important;
	color: #e67f46;
	font-size: 14px;
	text-transform:uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead tr th {
	font-weight:bold;
	font-size:14px;
	color:#fff;
}
#wp-calendar thead th {
	padding-bottom: 10px;
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: none;
	border: 1px solid #434242;
	text-align: center;
	padding:8px;
	font-weight:bold;
	color:#5c5b5b;
}
#wp-calendar tbody td a {
	color:#fff;
}
#wp-calendar tbody td:hover {
	background: #504e4e;
}
#wp-calendar tbody .pad {
	background: none;
	border:none;
}
#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
}
#wp-calendar tfoot #prev a,
#wp-calendar tfoot #next a {
	color:#e67f46;
	font-weight:bold;
}
/* END CALENDAR WIGET */



@media (max-width: 767px) {
	.container {
		width:630px !important;
		margin:0px auto !important;
	}
	.container .sidebar {
		float: none !important;
		margin-right: 0px !important;
		width: 100% !important;
		padding-top: 20px !important;
	}
	.container.homepage .sidebar {
		padding-bottom:0px !important;
	}
	h1 {
		margin-bottom:20px !important;
		padding-top:10px !important;
	}
	h1 a {
		color:#fff !important;
		font-size:64px !important;
	}
	.working, .arrow, .separate, .container .sidebar .available {
		display:none !important;
	}
	.container.homepage .sidebar .subscription, .container.homepage .sidebar .social {
		float:left !important;
	}
	.container.homepage .sidebar .social {
		min-height:230px !important;
		margin-left:80px !important;
                margin-top: 10px !important;
		position:relative !important;
	}
	.container .sidebar .social {
		margin-top: 10px !important;
	}
	.container .sidebar .social .social_icons {
		width:260px;
	}
}