/* ============================ DropsCount CSS ============================ */
@import url('http://fonts.googleapis.com/css?family=Great+Vibes');
/* ============================ START CSS RESET AND OPTIONS ============================ */
* {
    margin:0px;
    padding:0px;
    border:0px;
    vertical-align:top;
    text-decoration:none;
    outline:none;
}
.clear {
    clear:both;
}
body {
    background:#7daaa3;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:1.5em;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    color: #fff;
    text-shadow:1px 1px 0px #327067;
    font-weight:400;
    margin-bottom: 60px;
    text-align:center;
    line-height: 1.4em;
}
h3 {
    text-transform:uppercase;
    margin-bottom:10px;
    font-size:14px;
    color:#a4ebe0;
    text-shadow: 1px 1px 0px #327067;
}
p {
    margin-bottom:10px;
    font-size:13px;
    color:#a4ebe0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.separate {
    margin-bottom:120px;
}
.working {
    background:url(../images/working_bg.png) no-repeat;
    width:168px;
    height:130px;
    margin:-30px auto 60px;
}
.container .sidebar {
    float:left;
    margin-right:80px;
    width:250px;
    padding-top:50px;
}
.container .sidebar .arrow {
    background: url(../images/arrow.png) no-repeat;
    width: 88px;
    height: 73px;
    position: absolute;
    margin-left: 260px;
    margin-top: -75px;
}
#site_change {
    position:absolute;
    background:#80bdb4;
    padding:40px;
    margin-top:300px;
    width:70px;
}
#site_change #site_open {
    position:absolute;
    cursor:pointer;
    background:url(../images/opener.png);
    width:33px;
    height:33px;
    margin-left: 109px;
    margin-top: 46px;
}
#site_change a {
    float:left;
    margin:10px;
}
.container {
    width:960px;
    margin:0px auto;
}
.container .sidebar .subscription {
    color: #a4ebe0;
    margin-bottom:70px;
    text-shadow:1px 1px 0px #709992;
    font-size:13px;
}
.container .sidebar .subscription .subscription_form {
    margin-top:10px;
    margin-bottom:10px;
    color:#ffd9ca;
    text-shadow:1px 1px 0px #709992;
}
.container .sidebar .subscription .border {
    background: #5d938b;
    float:left;
    padding:4px;
    border-radius:5px;
    margin-right:10px;
}
.container .sidebar .subscription .border .subscription_line {
    background:#fff;
    padding:6px 8px;
    width:150px;
    border-radius:3px;
}
.container .sidebar .subscription .subscription_button {
    padding: 10px 8px;
    color: #fff;
    background: #5d938b;
    text-shadow:1px 1px 0px #54847d;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}
.container .sidebar .twitt {
    position:absolute;
    width:210px;
    background: #5d938b;
    padding:15px;
    line-height:1.4em;
    font-size:12px;
    color: #fff;
    border:3px solid #a1cec7;
    border-radius:6px;
}
.container .sidebar .twitt span {
    display:block;
}
.container .sidebar .twitt .arrow_twitt {
    background:url(../images/arrow_twitt.png);
    height:12px;
    width:18px;
    position:absolute;
    margin-top: 15px;
    margin-left: -3px;
}
.container .sidebar .twitt a {
    color:#87d7cb;
}
.container .sidebar .twitt a:hover {
    text-decoration:underline;
}
.wt_twitter_post {
    display: none;
}
.wt_twitter_post_date {
    text-transform:uppercase;
    font-size:10px;
    padding-top:3px;
}
.container .sidebar .social {
    min-height:180px;
    background:url(../images/border.png) repeat-y 20px 0px;
}
.container .sidebar .social .social_icons {
    position:absolute;
    margin: 155px 0px 0px 0px;
    padding:0px;
}
.container .sidebar .social .social_icons li {
    list-style:none;
    float:left;
    margin-right:15px;
}
.container .sidebar .social .social_icons li a {
    background:url(../images/socials.png) no-repeat;
    display:block;
    width:47px;
    height:47px;
}
.container .sidebar .social .social_icons li a.twitter {
    background-position:0px -47px;
}
.container .sidebar .social .social_icons li a:hover.twitter, .container .sidebar .social .social_icons li a.twitter.active {
    background-position:0px 0px;
}
.container .sidebar .social .social_icons li a.facebook {
    background-position:-62px -47px;
}
.container .sidebar .social .social_icons li a:hover.facebook {
    background-position:-62px 0px;
}
.container .sidebar .social .social_icons li a.flikr {
    background-position:-124px -47px;
}
.container .sidebar .social .social_icons li a:hover.flikr {
    background-position:-124px -0px;
}
.container .sidebar .social .social_icons li a.google {
    background-position:-186px -47px;
}
.container .sidebar .social .social_icons li a:hover.google {
    background-position:-186px 0px;
}
.container .content {
    float:left;
    width:630px;
}
.container .content .top_line {
    background:#5d938b;
    height:28px;
}
.container .content .top_head {
    background:url(../images/top_head.jpg) no-repeat top center;
    height:150px;
}
.container .content .bottle_box {
    height:625px;
    width:470px;
    margin:0px auto;
}
.container .content .bottle_box .bottle {
    float:left;
    width:80px;
    margin-right:50px;
}
.container .content .bottle_box .bottle_last {
    float:left;
    width:80px;
    margin-right:0px;
}
.container .content .bottle_box .bottle_section {
    height:504px;
    margin-bottom:40px;
}
.container .content .bottle_box .bottle_section .drop {
    background:url(../images/drop_all.png) no-repeat;
    width:28px;
    height:40px;
    margin-left: 20px;
    position:absolute;
    z-index:1;
}
.container .content .bottle_box .bottle_section .drop_d {
    background-position: 0px 0px;
}
.container .content .bottle_box .bottle_section .drop_h {
    background-position: -130px 0px;
}
.container .content .bottle_box .bottle_section .drop_m {
    background-position: -260px 0px;
}
.container .content .bottle_box .bottle_section .drop_s {
    background-position: -390px 0px;
}
.container .content .bottle_box .bottle_counter {
    background:url(../images/count_all.png) no-repeat;
    font-size:29px;
    color:#fff;
    font-weight:bold;
    padding:28px 0px;
    text-align:center;
    line-height:1em;
    margin-bottom:110px;
}
.container .content .bottle_box .bottle_counter.bottle_d {
    background-position: 0px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_h {
    background-position: -130px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_m {
    background-position: -260px 0px;
}
.container .content .bottle_box .bottle_counter.bottle_s {
    background-position: -390px 0px;
}
.container .content .bottle_box .bottle_section .bottle_bg {
    position:absolute;
    z-index:4;
    height:400px;
    margin-top:105px;
    width:80px;
    background:url(../images/bottle_bg.png) no-repeat;
}
.container .content .bottle_box .bottle_section .overflow {
    overflow:hidden;
    height:500px;
    position:absolute;
    width:70px;
    margin-left:5px;
    z-index:3;
}
.container .content .bottle_box .bottle_section .fill {
    z-index: 4;
    position: absolute;
    width: 70px;
    height: 400px;
    margin-top: 500px;
}
.container .content .bottle_box .bottle_section .fill.fill_d {
    background:url(../images/days_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_h {
    background:url(../images/hours_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_m {
    background:url(../images/minutes_bg.png);
}
.container .content .bottle_box .bottle_section .fill.fill_s {
    background:url(../images/seconds_bg.png);
}
#footer {
    color:#fff;
    font-size:10px;
    text-shadow:1px 1px 0px #111;
    background:#5d938b;
    overflow: hidden;
}
#footer .scroll {
    background:url(../images/scroll.png) no-repeat;
    width:115px;
    height:32px;
    position:absolute;
    margin-top:-75px;
    right:0px;
}
#footer .container {
    position: relative;
    padding:30px 0px;
}
.wrapper{
    background:url(../images/footer_tube.png) no-repeat left bottom;
    height: 100%;
    width: 960px;
    margin: 0px auto;
}
.copyright {
    padding:15px 0px;
    font-size:10px;
    text-transform:uppercase;
    color:#f1f1f1;
    text-shadow:1px 1px 0px #333;
}

#footer .google_maps {
    border:10px solid rgba(255, 255, 255, 0.20);
    border-radius:8px;
    margin-bottom:10px;
}
#footer .location {
    background:url(../images/location.png) no-repeat;
    padding-left:20px;
    color:#a1cec7 !important;
    text-shadow:1px 1px 0px #555;
}
#footer .email  {
    padding-top: 7px;
    background: url(../images/mail.png) no-repeat 0px 12px;
    padding-left: 30px;
    color: #fff !important;
    text-shadow: 1px 1px 0px #000;
}
#footer .email a {
    color:#a1cec7;
}
#footer .telephone  {
    background:url(../images/telephone.png) no-repeat 5px 0px;
    padding-left:30px;
    color:#a1cec7 !important;
    text-shadow:1px 1px 0px #555;
}
#footer .line {
    display:block;
    width:200px;
    padding:6px 14px;
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f1f1f1;
    color:#ccc;
}
#footer .linearea {
    display:block;
    width:200px;
    height:50px;
    padding:6px 14px;
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f1f1f1;
    color:#ccc;
}
#footer .contact_form {
    margin-top:15px;
}
#footer .send {
    padding:8px 20px;
    line-height:1em;
    border-radius:6px;
    font-weight:bold;
    background:rgba(255, 255, 255, 0.2);
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    cursor:pointer;
    color:#a1cec7;
    text-shadow:1px 1px 0px #5d938b;
}
#footer .send:hover {
    background:rgba(255, 255, 255, 0.1);
}
#footer .row {
    margin-left:-40px;
}
#footer .row .column {
    margin-left:40px;
    width:290px;
    float:left;
}
#footer .row .column h4 {
    background:url(../images/drops_head.png) no-repeat left center;
    padding-left:60px;
    font-family: 'Norican', cursive;
    font-size:27px;
    margin-bottom:15px;
    font-weight:400;
    text-shadow:1px 1px 0px #3a7169;
    line-height:1.4em;
}
#footer .row .column p {
    margin-bottom:10px;
    color:#a1cec7;
}
/* ============================ START TITLE CSS EFFECT ============================ */
span.show-tooltip-text {
    z-index:99999;
    display:none;
    position:fixed;
    background:#5d938b;
    border:2px solid #a1cec7;
    margin:0px 10px 0px 0px;
    padding:2px 12px;
    color: #fff;
    border-radius:3px;
    font: 13px/22px;
    font-weight: normal;
}
/* ============================ END TITLE CSS EFFECT ============================ */

.acolad {
    background:url(../images/acolad.png) no-repeat left center;
    padding-left:30px;
    min-height:68px;
}